body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
}
.hamburguer {
    color: #fff;
    background-color: #333;
    cursor: pointer;
    height: 60px;
    padding: 0px 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.hamburguer:hover {
    background-color: #333;
    color: #fff;
}
.menu_side {
    background-color: #fff;
    width: 200px;
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.menu_side_part1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.menu_side_part2 {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.small-menu {
    width: 60px;
}
.small-menu .option a {
    width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.option {
    padding: 10px;
    display: block;
}

.option a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.option a i,
.option a h4 {
    padding: 0px 0px 0px 10px;
    transition: color 0.3s;
}

.option:hover {
    background-color: #333;
}

.option a:hover i,
.option a:hover h4 {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100%);
}

.section_1 {
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px; /* Ajusta el espaciado según sea necesario */
}

.section_1 p {
    color: #fff;
}

.section_2 {
    flex: 1;
    background-color: #efeded;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.hamburguer2 {
    color: #fff;
    background-color: #333;
    cursor: pointer;
    padding: 20px 20px;
    height: 60px;
    transition: background-color 0.3s, color 0.3s;
    display: none;
}

.hamburguer:hover {
    background-color: #333;
    color: #fff;
}

.option2 {
    display: none;
}

.name {
    display: none;
}

.inicio-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-message-container {
    width: 100%;
    text-align: center;
}

.universidad-container {
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.columna {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid black;
    height: 150px;
    font-size: 40px;
    font-weight: bold;
}

.columna:hover {
    background-color: #a6a1a1;
    color: #fff;
}
.columna img {
    width: 100%;
}
.reducido {
    display: none;
}

/* Contenedor de Nueva Pregunta */

.question_container {
    width: 100%;
}

.question_create_container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.question_create_container a:hover {
    background-color: #0056b3;
}

/* Contenedor del Formulario de Preguntas */

.form_question_container {
    padding: 20px;
    width: 100%;
}

.form-title {
    text-align: center;
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto;
}

.form_question_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
}

.filter-label {
    font-weight: bold;
}

.filter-select,
textarea,
input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.pregunta_container {
    margin-top: 20px;
}

.recovery-before-button-container {
    text-align: center;
}

button[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #004080;
}

/* ACa */

.question_create_container {
    float: left;
    width: 30%;
    margin: 20px 20px;
}

.question_summary_container {
    float: right;
    margin: 20px 20px;
}

.question_list_container {
    clear: both;
    width: 100%;
}

.question_create_container,
.question_summary_container,
.question_list_container {
    height: auto;
}

.question_summary_container {
    max-width: 600px;
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    overflow: hidden;
}

.question_summary_table {
    width: 300px;
    border-collapse: collapse;
    margin-top: 20px;
    float: right;
    margin-left: 20px;
}

.question_summary_table th,
.question_summary_table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.question_summary_table th {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.question_summary_table tbody tr:last-child td {
    border-bottom: none;
}

.question_summary_table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.question_list_container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    overflow: hidden;
}

.question_list_container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.question_list_container th,
.question_list_container td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.question_list_container th {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.question_list_container tbody tr:last-child td {
    border-bottom: none;
}

.question_list_container tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.question_list_container tbody tr:hover {
    background-color: #d8e3e7;
}

.question_list_container td a {
    text-decoration: none;
    color: #0056b3;
}

.question_list_container td a:hover {
    color: #003366;
}

@media (max-width: 768px) {
    body {
        height: calc(100vh - 60px);
    }
    .menu_side {
        height: calc(100vh - 60px);
    }

    .hamburguer {
        display: none;
    }

    .hamburguer2 {
        display: block;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburguer2 img {
        width: 40px;
        height: 40px;
    }

    .menu_side {
        height: calc(100vh - 60px);
        width: 60px;
        position: absolute;
    }

    .option a h4 {
        display: none;
    }

    .option a {
        display: block;
    }

    .option2 {
        display: block;
        font-weight: bold;
        margin-top: 10px;
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    .option a i {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .welcome {
        display: none;
    }
    .full_name {
        display: none;
    }
    .name {
        display: block;
    }
    .section_2 {
        padding-left: 60px;
        width: calc(100% - 60px);
        height: calc(100vh - 60px);
    }
    .inicio-container {
        width: 100%;
        height: calc(100vh - 120px);
    }
    .inicio-message-container {
        width: 260px;
    }
    .inicio-message-container p {
        font-size: 12px;
    }
    .inicio-message-container img {
        width: 100%;
    }
    .universidad-container {
        padding: 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .columna {
        padding: 10px;
        border: 2px solid black;
        height: 100px;
        font-size: 14px;
    }
    .normal {
        display: none;
    }
    .reducido {
        display: block;
    }

    .form_question_container {
        max-width: 70%;
    }
}
